.contactText {
  display: inline-flex;
  color: navy;
  font-size: large;
  font-weight: 500;
}

.contactDeleteBtn {
  margin-left: 20px;
  border: 0;
  border-radius: 2px;
  background-color: rgb(255, 207, 51);
  cursor: pointer;
}
